[graph]
all-features = true

[advisories]
version = 2
yanked = "deny"
ignore = [
  "RUSTSEC-2023-0071",
]

[bans]
multiple-versions = "warn"
wildcards = "allow"
highlight = "all"

[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
allow-git = [
  "https://github.com/opertus-systems/provenact-cli.git",
]

[licenses]
allow = [
  "MIT",
  "Apache-2.0",
  "BSD-2-Clause",
  "BSD-3-Clause",
  "ISC",
  "MPL-2.0",
  "Unicode-3.0",
  "Unlicense",
  "Zlib",
  "CDLA-Permissive-2.0",
  "OpenSSL",
]
confidence-threshold = 0.8

[licenses.private]
ignore = false
