name: Security

on:
  push:
  pull_request:

jobs:
  rust-security:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@4be9e76fd7c4901c61fb841f559994984270fce7
        with:
          components: clippy

      - name: Rust cache
        uses: Swatinem/rust-cache@ad397744b0d591a723ab90405b7247fac0e6b8db

      - name: Clippy
        run: cargo clippy --all-targets --all-features -- -D warnings

      - name: Install cargo-audit
        run: cargo install cargo-audit --locked

      - name: Cargo audit
        run: cargo audit --deny warnings --ignore RUSTSEC-2023-0071
